# These owners will be the default owners for everything in the repo
* @alirezaibrahimi

# Ownership of specific directories
/src/ @alirezaibrahimi
/types/ @alirezaibrahimi

# Ownership of specific file types
*.ts @alirezaibrahimi
*.md @alirezaibrahimi 